{% extends "main.html"%}

{% block content %}


    
    <div class="row m-3 p-3">
        {% for i in data %}
        <div class="card m-2 p-2 " style="width: 28rem; background:linear-gradient(rgb(56, 48, 95),white)">
            <div class="card-body">

              <a href="{% url 'catlist' i.category %}" class="btn "><h5 class="card-title", style="text-transform: uppercase;">{{i.category}}</h5> </a>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
            </div>
          </div>
          {%endfor%}
        </div>
    



 

{% endblock content %}